
html{
    background-color: rgba(34, 24, 24, 0.641);
}
.header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(231, 182, 182);
    height: 8vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo_items{
    width: 12%;
    background-color: rgb(163, 145, 118);
    border-radius:0 400px 400px 0 ;
    padding-left: 50px;
    
}
.logo_items img {
    max-height: 100%;
    min-width: 90%;   
}
.navbar {
    border-radius: 400px 0  0 400px ;
    background-color: rgb(163, 145, 118);
    width: 25%;
}

.navbar .navbar_list {
    align-items: center;
    height: 100%;
    display: flex;
    font-size: 50px;
    list-style-type: none;
    justify-content: space-around;
    font-size: 1rem;
    
}
i{
    display: none;
}
@media screen and (max-width:1180px){
    .navbar_list_items{
        display: none
    }
    .navbar{
        width: 10%;
    }
   i{
    display: block;
    font-size: 30px;
   }
} 
.navbar_list a:hover{
    color: yellow;
}
.navbar_list_items a {
    
    text-decoration-line: none;
    color: black;
}
.cards_section{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
   background-color:rgb(163, 145, 118) ;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
transition: box-shadow 0.4s ease-in-out;
    width: 250px;
   height: 300px;
   border: solid yellow;

   font-size: 1rem;
}
.cards:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.43);
}
.cards img{
    border-radius: 10px;
    width: 80%;
}
h2{
    font-weight: bold;
    font-size: 1.8em;
}